<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheData</key>
	<data>
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAQx8AAAAAAAACAAAAAAAAAAEAAAAAAAAAuAsAAAAAAAAI
	BwAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAIAaAAAAAQAAAAAAAAAAAAAAAAAA
	AHAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAADAAAAQAA
	AAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAwAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAEIEAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVVU9QgAAAAABAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAU
	AAAAAAAAAAAAAIABAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAD/////AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAA
	AAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAEAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAEAAAAAAAAACgAAAAAAAABkAAAAAAAAAOQAAAAAAAAA5AAAAAAA
	AADQBwAAAAAAAAAAAAAAAAAAAQAAAAAAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAB4AAAAAAAAAHgAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAEAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAPAAAAAAAAAA8AAAAAAAAADwA
	AAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAACAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAA
	AAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AJqZmT4AAAAAAAAAAAAAAAACAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABgAAAAAAAAAAAAAAAAAAADM
	AQAAAAAAAAAAQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAA
	AAAAAAAAAAMAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAIAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAA
	AAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAFAAAAAAAAAAAAAAAA
	AAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAADwAAAAAAAAAPAAAAAAAAAAAwAA
	AAAAAAABAAAAAAAAAGQAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAPAAAAAAA
	AAA8AAAAAAAAADwAAAAAAAAAPAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAA
	AQAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAQAAAAAA
	AAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAB
	AAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAA
	AAAAYEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAZAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA
	AAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEA
	AAAAAAAAAAAAAAAAAAD/////AAAAAAEBAQEBAQEBAQAAAQABAQEBAQEBAQEBAQEBAAEA
	AQEBAQEAAAEBAQEAAAABAAEAAAEAAAEBAQAAAAABAAAAAQEBAAAAAQEBAQEBAQABAQEB
	AQEAAQEAAAEBAQAAAQABAQEBAQEAAQABAQEBAQEBAAEAAQABAQABAQABAQAAAQEBAQEB
	AAEBAQABAQEBAQEBAQEBAQEAAQABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAAEBAQEBAQEBAQEBAAEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQEBAQEBAQEAAQABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAAAEA
	AQEBAAEBAQEAAQABAAABAAAAAQEBAQEAAAAAAAABAQEBAQEBAQEBAAABAAABAQEBAQEB
	AQEBAQEBAQEBAQEBAQABAQEBAQEBAQEBAQEAAQABAQEAAQEBAQEBAQEBAQEBAQEBAQEB
	AQEBAQEBAQEBAQAAAQEAAAEAAQEBAQEBAQEBAQEAAQAAAQAAAQEAAQEBAQAAAAAAAAEB
	AQEBAQEBAQEAAAABAQEAAQEBAQEBAQEBAQEBAQEBAQEAAQAAAQEBAQABAQEBAQEBAQEB
	AQEAAQAAAQEBAAAAAAEBAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAAAAAAAAAAQEB
	AQEBAAABAAEAAQEAAAAAAAABAQABAQEBAQEBAAEBAAAAAQEAAQEBAQEBAQEBAQEAAAAB
	AQABAQABAAAAAAAAAQEBAQEBAQEBAAAAAAAAAAEBAQEBAAAAAAEBAQABAQEBAQEBAQEA
	AAAAAAABAQEBAQEB
	</data>
	<key>CacheExtra</key>
	<dict>
		<key>+3Uf0Pm5F8Xy7Onyvko0vA</key>
		<string>iPhone</string>
		<key>/YYygAofPDbhrwToVsXdeA</key>
		<string>D63AP</string>
		<key>0+nc/Udy4WNG8S+Q7a/s1A</key>
		<string>iPhone14,2</string>
		<key>0GizaJLOyfzgAbxQ/5aniA</key>
		<data>
		AQAAAAAAAAAAAAAAAwAAAA==
		</data>
		<key>37NVydb//GP/GrhuTN+exg</key>
		<true/>
		<key>4W7X4OWHjri5PGaAGsCWxw</key>
		<integer>52</integer>
		<key>4qfpxrvLtWillIHpIsVgMA</key>
		<string>BFFBB735-EC01-4194-82D1-39153313541C</string>
		<key>5pYKlGnYYBzGvAlIU8RjEQ</key>
		<string>t8110</string>
		<key>913P3Zsei09w0GSSOaBD+w</key>
		<data>
		AAAAAAAAAAAAAADgi73QPwAAAAAAAAAAAAAAALsltD8=
		</data>
		<key>91LyMcx4z1w3SGVeqteMnA</key>
		<data>
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAA==
		</data>
		<key>96GRvvjuBKkU4HzNsYcHPA</key>
		<string>11.2.0</string>
		<key>97JDvERpVwO+GHtthIh7hA</key>
		<string>A2483</string>
		<key>9MZ5AdH43csAUajl/dU+IQ</key>
		<array>
			<integer>1</integer>
		</array>
		<key>9UCjT7Qfi4xLVvPAKIzTCQ</key>
		<string>Beta</string>
		<key>9s45ldrCC1WF+7b6C4H2BA</key>
		<string>iPhone</string>
		<key>AoKnINTLPoKML3ctoP0AZg</key>
		<dict>
			<key>buffer-compression</key>
			<false/>
			<key>media-compression</key>
			<false/>
			<key>universal-buffer-compression</key>
			<true/>
			<key>universal-buffer-compression-requires-plane-alignment-2048</key>
			<false/>
			<key>universal-lossy-buffer-compression</key>
			<true/>
			<key>universal-multislice-buffer-compression</key>
			<false/>
			<key>universal-pARGB10101010-buffer-compression</key>
			<false/>
		</dict>
		<key>DViRIxZ/ZwO007CLcEYvZw</key>
		<string></string>
		<key>HXTqT3UXOKuTEklxz+wMAA</key>
		<data>
		KwAAAE9JUEekAAAAAAEAAA==
		</data>
		<key>IMLaTlxS7ITtwfbRfPYWuA</key>
		<string>A</string>
		<key>J1QHVh74Nnd6Rqyiq71/yw</key>
		<integer>1841299456</integer>
		<key>JHXk7RXOxvlqK+SxkwcM2A</key>
		<array>
			<string>nfc-express</string>
			<string>alisha</string>
			<string>find-my</string>
		</array>
		<key>JUWcn+5Ss0nvr5w/jk4WEg</key>
		<string>iPhone</string>
		<key>JhEU414EIaDvAz8ki5DSqw</key>
		<string>3</string>
		<key>LTI8wHvEYKy8zR1IXBW1uQ</key>
		<string>P3</string>
		<key>LeSRsiLoJCMhjn6nd6GWbQ</key>
		<string>iBoot-11881.2.10</string>
		<key>NUYAz1eq3Flzt7ZQxXC/ng</key>
		<real>1.0</real>
		<key>NaA/zJV7myg2w4YNmSe4yQ</key>
		<string>4387</string>
		<key>Nzu4E/VsXjEIa83CkRdZrQ</key>
		<string>sha2-384</string>
		<key>PdprWthPO6YyrO6p1vLRgQ</key>
		<data>
		AAAAAAAAAAAAAICV2RRzQAAAAAAAAAAAAAAAIRmbUEA=
		</data>
		<key>QHxt+hGLaBPbQJbXiUJX3w</key>
		<true/>
		<key>QbQzuIbef01P4JeoL9EmKg</key>
		<real>1.0</real>
		<key>SbXytSPZXB1jQ8GLZOxCPw</key>
		<data>
		AAAAAAAAAAAAAACApCbXPwAAAAAAAAAAAAAAALsltD8=
		</data>
		<key>TZ/0j62wM3D0CuRt+Nc/Lw</key>
		<data>
		HuVX26BXTN1Zf+WnPGp7JcMyhyo=
		</data>
		<key>VuGdqp8UBpi9vPWHlPluVQ</key>
		<array>
			<string>iPhone14,2</string>
			<string>iPhone13,3</string>
		</array>
		<key>WPEkba78QeFFU/wgqpOx6w</key>
		<data>
		AAAAAAAA8D8AAABgSHXSPwAAAAAAAAAAAAAAgOIFwD8=
		</data>
		<key>Z/dqyWS6OZTRy10UcmUAhw</key>
		<string>iPhone 13 Pro</string>
		<key>aD51uqjUwgRKjAC04BCrxg</key>
		<data>
		AAAAAAAAAAAAAECTdJhrQAAAAAAAAAAAAAAAIRmbUEA=
		</data>
		<key>bbtR9jQx50Fv5Af/affNtA</key>
		<string>iPhone 13 Pro</string>
		<key>c7fCSBIbX1mFaRoKT5zTIw</key>
		<string>USI</string>
		<key>emXA9B552rnSoI7xXE91DA</key>
		<real>1.0</real>
		<key>gBw7IWiBnLHaA+lBrZBgWw</key>
		<integer>600</integer>
		<key>gD8SNRcHQeIxCAvsp+2vjA</key>
		<data>
		AQAAAAAAAABNV1dKAAAAAA==
		</data>
		<key>h63QSdBCiT/z0WU6rdQv6Q</key>
		<string>LL</string>
		<key>h9jDsbgj7xIVeIQ8S3/X3Q</key>
		<string>iPhone14,2</string>
		<key>ivIu8YTDnBSrYv/SN4G8Ag</key>
		<string>iPhone OS</string>
		<key>k+KTni1jrwErpcDMEnn3aw</key>
		<string>1754</string>
		<key>k7QIBwZJJOVw+Sej/8h8VA</key>
		<string>arm64e</string>
		<key>mZfUC7qo4pURNhyMHZ62RQ</key>
		<string>22A5350a</string>
		<key>mumHZHMLEfAuTkkd28fHlQ</key>
		<string>1</string>
		<key>nSo8opze5rFk+EdBoR6tBw</key>
		<array>
			<string>CU</string>
			<string>IR</string>
			<string>SD</string>
			<string>SY</string>
			<string>KP</string>
		</array>
		<key>oBbtJ8x+s1q0OkaiocPuog</key>
		<data>
		kgQAAOQJAADMAQAAAABAQAAAAAAYAAAA
		</data>
		<key>oPeik/9e8lQWMszEjbPzng</key>
		<dict>
			<key>ArtworkDeviceIdiom</key>
			<string>phone</string>
			<key>ArtworkDeviceProductDescription</key>
			<string>Huawei P40 Pro</string>
			<key>ArtworkDeviceScaleFactor</key>
			<integer>3</integer>
			<key>ArtworkDeviceSubType</key>
			<integer>2556</integer>
			<key>ArtworkDisplayGamut</key>
			<string>P3</string>
			<key>ArtworkDynamicDisplayMode</key>
			<string>0</string>
			<key>CompatibleDeviceFallback</key>
			<string>iPhone13,3</string>
			<key>DevicePerformanceMemoryClass</key>
			<integer>6</integer>
			<key>GraphicsFeatureSetClass</key>
			<string>APPLE8</string>
			<key>GraphicsFeatureSetFallbacks</key>
			<string>APPLE7:APPLE6:APPLE5:APPLE4:APPLE3:APPLE3v1:APPLE2:APPLE1:GLES2,0</string>
		</dict>
		<key>oYicEKzVTz4/CxxE05pEgQ</key>
		<string>D63AP</string>
		<key>pB5sZVvnp+QjZQtt2KfQvA</key>
		<string>mav21</string>
		<key>pMeQxE5szZTjLMk10TisDQ</key>
		<data>
		AAAAAABgeEAAAEBOVW1uQAAAAAAAAAAAAAAAX7NpWkA=
		</data>
		<key>qNNddlUK+B/YlooNoymwgA</key>
		<string>18.0</string>
		<key>qwXfFvH5jPXPxrny0XuGtQ</key>
		<string>B909B792-6119-11EF-BE32-5D5563D4FA58</string>
		<key>rJkMAGeVLdhP5+10G5hVcA</key>
		<string>{ x: 390.000000, y: 243.416663, width: 0.000000, height: 105.651573 }</string>
		<key>rkqlwPcRHwixY4gapPjanw</key>
		<string>iPhone</string>
		<key>vme9Buk6XiWFCXoHApxNFA</key>
		<string>iPhone</string>
		<key>wYMBabAO8VguyDDVgCsPdg</key>
		<string>s=C2</string>
		<key>xUHcyT2/HE8oi/4LaOI+Sw</key>
		<string>GUID_partition_scheme</string>
		<key>xojWvSTQWT7Icy+xfVzjAQ</key>
		<string>9A0C207C-B633-46E3-ACF9-D32963533173</string>
		<key>yUqD8AXE/c+IggkuYoxrqA</key>
		<string>com.apple.dt.devicekit.chrome.phone4</string>
		<key>ybGkijAwLTwevankfVzsDQ</key>
		<data>
		AAAAAABIkkAAAAAAAMijQA==
		</data>
		<key>yjP8DgByZmLk04Ta6f6DWQ</key>
		<string>iOS</string>
		<key>zHeENZu+wbg7PUprwNwBWg</key>
		<string>LL/A</string>
	</dict>
	<key>CacheUUID</key>
	<string>E16FFD24-14A8-41B2-9D70-9BD96C5E88F2</string>
	<key>CacheVersion</key>
	<string>22A5350a</string>
</dict>
</plist>
