<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorSuggestions</key>
	<array/>
	<key>kind</key>
	<string>Original</string>
	<key>parameters</key>
	<dict>
		<key>clockColor</key>
		<array>
			<real>1</real>
			<real>1</real>
			<real>1</real>
		</array>
		<key>clockVibrancy</key>
		<real>0.0</real>
		<key>headroomLook</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
