<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OS_ELIGIBILITY_DOMAIN_ALUMINUM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_ARGON</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>4</integer>
		<key>os_eligibility_answer_t</key>
		<integer>4</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_BERYLLIUM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_BORON</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_CARBON</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>4</integer>
		<key>os_eligibility_answer_t</key>
		<integer>4</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_CHLORINE</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_LOCALE</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_CHROMIUM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_COBALT</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>4</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_COPPER</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict/>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_FLUORINE</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_HELIUM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>4</integer>
		<key>os_eligibility_answer_t</key>
		<integer>4</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_HYDROGEN</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>4</integer>
		<key>os_eligibility_answer_t</key>
		<integer>4</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_IRON</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_KRYPTON</key>
	<dict>
		<key>context</key>
		<dict>
			<key>OS_ELIGIBILITY_CONTEXT_COUNTRY_BILLING</key>
			<string>US</string>
		</dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_LITHIUM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>4</integer>
		<key>os_eligibility_answer_t</key>
		<integer>4</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_LOTX</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_MAGNESIUM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_MANGANESE</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_NEON</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_NICKEL</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_LOCALE</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_NITROGEN</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_OXYGEN</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_PHOSPHORUS</key>
	<dict>
		<key>context</key>
		<dict>
			<key>OS_ELIGIBILITY_CONTEXT_COUNTRY_BILLING</key>
			<string>US</string>
		</dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>4</integer>
		<key>os_eligibility_answer_t</key>
		<integer>4</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_PODCASTS_TRANSCRIPTS</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>4</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_POTASSIUM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>4</integer>
		<key>os_eligibility_answer_t</key>
		<integer>4</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>4</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_SCANDIUM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_SEARCH_MARKETPLACES</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_SILICON</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_SODIUM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_SULFUR</key>
	<dict>
		<key>context</key>
		<dict>
			<key>OS_ELIGIBILITY_CONTEXT_COUNTRY_BILLING</key>
			<string>US</string>
		</dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_SWIFT_ASSIST</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_REGION_CODE</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_EXTERNAL_BOOT_DRIVE</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_TITANIUM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_VANADIUM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_LOCATION</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_XCODE_LLM</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_CLASS</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_REGION_CODE</key>
			<integer>3</integer>
			<key>OS_ELIGIBILITY_INPUT_EXTERNAL_BOOT_DRIVE</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>OS_ELIGIBILITY_DOMAIN_ZINC</key>
	<dict>
		<key>os_eligibility_answer_source_t</key>
		<integer>1</integer>
		<key>os_eligibility_answer_t</key>
		<integer>2</integer>
		<key>status</key>
		<dict>
			<key>OS_ELIGIBILITY_INPUT_COUNTRY_BILLING</key>
			<integer>2</integer>
			<key>OS_ELIGIBILITY_INPUT_DEVICE_LANGUAGE</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
